.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 16px;
}
.btn{
    width: 10em;
}